@charset "utf-8";
/* CSS Document */

dt{
	padding-top: 15px;
	color: #00B42A;
}
dd{
	border-bottom: 1px solid #ccc;
}
@media screen and (min-width:769px){
	.news-sub, .blog-sub{
		width: 100%;
		max-width: 1000px;
		margin: auto;
	}
}
@media screen and (min-width:769px) and (max-width:999px){
	.news-sub, .blog-sub{
		width: 90%;
		margin: auto;
	}
}

@media screen and (max-width:768px){
	.news-sub, .blog-sub{
		width: 90%;
		margin: auto;
	}
}